<!DOCTYPE html>
<html lang="en">

<head>
   {{>headerLinks}}
</head>

<body>
   
   {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-6 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 main_header_right align-item-center">
                        <figure><img src="img/w.gif" alt="sohit" class="img-fluid"></figure>
                    </div>
                    <!-- right side div -->
                    <div class="col-md-6 main_header_left">
                        <p>Welcome to World Weather Web</p>
                        <h1>I Am A <span class="text_clr"> Mern Stack Devloper</span> Mca Student</h1>
                        <a href="/weather"><button>About Me</button></a>
                    </div>


                </div>
            </div>
        </div>
    </div>
    </div> --}}
    <!-- footar code -->
    {{>footar}}
</body>

</html>